root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.cs]
indent_style = space
indent_size = 4
csharp_style_namespace_declarations = file_scoped:warning
dotnet_style_require_accessibility_modifiers = for_non_interface_members:warning
dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = false
dotnet_diagnostic.IDE0055.severity = warning
dotnet_diagnostic.IDE1006.severity = warning
dotnet_diagnostic.IDE0161.severity = warning
dotnet_diagnostic.IDE0040.severity = warning
dotnet_diagnostic.IDE0005.severity = suggestion
dotnet_diagnostic.IDE0051.severity = warning
dotnet_diagnostic.IDE0052.severity = warning
dotnet_diagnostic.CA1416.severity = warning
dotnet_analyzer_diagnostic.category-Security.severity = warning

dotnet_naming_rule.types_pascal.symbols = named_types
dotnet_naming_rule.types_pascal.style = pascal
dotnet_naming_rule.types_pascal.severity = warning
dotnet_naming_symbols.named_types.applicable_kinds = class, struct, enum, delegate
dotnet_naming_symbols.named_types.applicable_accessibilities = *
dotnet_naming_rule.members_pascal.symbols = named_members
dotnet_naming_rule.members_pascal.style = pascal
dotnet_naming_rule.members_pascal.severity = warning
dotnet_naming_symbols.named_members.applicable_kinds = method, property, event
dotnet_naming_symbols.named_members.applicable_accessibilities = *
dotnet_naming_style.pascal.capitalization = pascal_case

[*.{csproj,props,json}]
indent_style = space
indent_size = 2
