<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <auditSources>
    <clear />
    <add key="nuget.org" value="https://data.nuget.org/v3/index.json" />
  </auditSources>
  <config>
    <add key="globalPackagesFolder" value=".nuget/packages" />
  </config>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="Azure.Core" />
      <package pattern="Azure.Monitor.OpenTelemetry.Exporter" />
      <package pattern="BenchmarkDotNet" />
      <package pattern="BenchmarkDotNet.Annotations" />
      <package pattern="CommandLineParser" />
      <package pattern="coverlet.MTP" />
      <package pattern="Gee.External.Capstone" />
      <package pattern="Iced" />
      <package pattern="Microsoft.ApplicationInsights" />
      <package pattern="Microsoft.Bcl.AsyncInterfaces" />
      <package pattern="Microsoft.CodeAnalysis.Analyzers" />
      <package pattern="Microsoft.CodeAnalysis.Common" />
      <package pattern="Microsoft.CodeAnalysis.CSharp" />
      <package pattern="Microsoft.Diagnostics.NETCore.Client" />
      <package pattern="Microsoft.Diagnostics.Runtime" />
      <package pattern="Microsoft.Diagnostics.Tracing.TraceEvent" />
      <package pattern="Microsoft.DotNet.PlatformAbstractions" />
      <package pattern="Microsoft.Extensions.Configuration" />
      <package pattern="Microsoft.Extensions.Configuration.Abstractions" />
      <package pattern="Microsoft.Extensions.Configuration.Binder" />
      <package pattern="Microsoft.Extensions.Configuration.EnvironmentVariables" />
      <package pattern="Microsoft.Extensions.Configuration.FileExtensions" />
      <package pattern="Microsoft.Extensions.Configuration.Json" />
      <package pattern="Microsoft.Extensions.DependencyInjection" />
      <package pattern="Microsoft.Extensions.DependencyInjection.Abstractions" />
      <package pattern="Microsoft.Extensions.Diagnostics.Abstractions" />
      <package pattern="Microsoft.Extensions.FileProviders.Abstractions" />
      <package pattern="Microsoft.Extensions.FileProviders.Physical" />
      <package pattern="Microsoft.Extensions.FileSystemGlobbing" />
      <package pattern="Microsoft.Extensions.Hosting.Abstractions" />
      <package pattern="Microsoft.Extensions.Logging" />
      <package pattern="Microsoft.Extensions.Logging.Abstractions" />
      <package pattern="Microsoft.Extensions.Logging.Configuration" />
      <package pattern="Microsoft.Extensions.Options" />
      <package pattern="Microsoft.Extensions.Options.ConfigurationExtensions" />
      <package pattern="Microsoft.Extensions.Primitives" />
      <package pattern="Microsoft.Identity.Client" />
      <package pattern="Microsoft.Identity.Client.Extensions.Msal" />
      <package pattern="Microsoft.IdentityModel.Abstractions" />
      <package pattern="Microsoft.Testing.Extensions.Telemetry" />
      <package pattern="Microsoft.Testing.Extensions.TrxReport" />
      <package pattern="Microsoft.Testing.Extensions.TrxReport.Abstractions" />
      <package pattern="Microsoft.Testing.Platform" />
      <package pattern="Microsoft.Testing.Platform.MSBuild" />
      <package pattern="Microsoft.TestPlatform.ObjectModel" />
      <package pattern="MSTest.Analyzers" />
      <package pattern="MSTest.TestAdapter" />
      <package pattern="MSTest.TestFramework" />
      <package pattern="OpenTelemetry" />
      <package pattern="OpenTelemetry.Api" />
      <package pattern="OpenTelemetry.Api.ProviderBuilderExtensions" />
      <package pattern="OpenTelemetry.Extensions.Hosting" />
      <package pattern="OpenTelemetry.PersistentStorage.Abstractions" />
      <package pattern="OpenTelemetry.PersistentStorage.FileSystem" />
      <package pattern="Perfolizer" />
      <package pattern="Pragmastat" />
      <package pattern="System.ClientModel" />
      <package pattern="System.CodeDom" />
      <package pattern="System.Management" />
      <package pattern="System.Memory.Data" />
      <package pattern="System.Reflection.TypeExtensions" />
      <package pattern="System.Security.Cryptography.ProtectedData" />
    </packageSource>
  </packageSourceMapping>
</configuration>
